/* Your styles goes here */

.visible{
  display: block;
}

ul {
  list-style: none;
  padding-left: 10px;
  cursor: pointer;
}

li div:hover{
  background-color: #f0f0f0;
}

div ul li ul {
  display: none;
}

div ul span {
  vertical-align: super;
}

.material-icons{
  color: #bcbcbc;
}

.material-icons.folder{
  color: #edbc0c;
}

.italic{
  font-style: italic;
}
