body {
  background-color: #dcbb9a;
  color: #000;
}

#content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 20px 20px 20px 20px;
}

#content h1 {
  text-align: center;
  color: #893c00;
  margin-top: 0px;
}

#content h2 {
  color: #893c00;
  margin-top: 0px;
}

#content .img-left {
  float: left;
  padding: 2px;
  border: 2px solid #893c00;
  margin-right: 20px;
}

#content .img-right {
  float: right;
  padding: 2px;
  border: 2px solid #893c00;
  margin-left: 20px;
}

#content .brief {
  float: left;
  width: 384px;
  background-color: #fadcba;
  padding: 20px;
  margin-right: 20px;
}

#content table {
  border-collapse: collapse;
  margin-bottom: 60px;
}

#content table caption {
  text-align: right;
}

#content table tr {
  border-bottom: 1px solid #e0e0e0;
}

#content table tr th {
  background-color: #e0e0e0;
  padding: 10px 10px 10px 20px;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
}

#content table tr td {
  padding: 10px 10px 10px 20px;
}

#content form label {
  text-transform: uppercase;
  color: #808080;
}

#content form .name .half {
  width: 49%;
  float: left;
}

#content form .name .half:last-child {
  float: right;
}

#content form .name .half input {
  width: 100%;
  padding: 3px;
}

#content form input {
  width: 100%;
  padding: 4px;
  margin: 5px 0 15px 0;
}

#content form input[type="submit"] {
  width: 240px;
  height: 45px;
  background-color: #fff;
  border: 2px solid #3d70a1;
  color: #3d70a1;
  text-transform: uppercase;
  font-size: 1.3em;
}

#content form textarea {
  width: 100%;
  padding: 5px;
  height: 150px;
  margin: 5px 0 15px 0;
}
