$bg: #dcbb9a;
$font-color: #000;
$page_width: 960px;
$content_color: #fff;
$h_color: #893c00;
$brief_color: #fadcba;
$grey_table: #e0e0e0;
$form-color: #808080;
$submit-color: #3d70a1;
$submit-bg: #fff;
