@import "variables2";
@import "main";

body{
  background-color: $bg;
  color: $font-color;
}


#content{
  max-width: $page_width;
  margin-left: auto;
  margin-right: auto;
  background-color: $content_color;
  padding: 20px 20px 20px 20px;

  h1{
    text-align: center;
    text-transform: uppercase;
    @include h($h_color, 0px);
  }

  h2{
    @include h($h_color, 0px);
  }

  .img-left{
    float: left;
    padding: 2px;
    border: 2px solid $h_color;
    margin-right: 20px;
  }

  .img-right{
    float: right;
    padding: 2px;
    border: 2px solid $h_color;
    margin-left: 20px;
  }

  .brief{
    float: left;
    width: $page_width - 40px;
    background-color: $brief_color;
    color: #000;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }

  a{
    color: $h_color;
  }

  table{
    border-collapse: collapse;
    margin-bottom: 60px;

    caption{
      text-align: right;
      color: #000;
    }

    tr{
      border-bottom: 1px solid $table;

      th{
        background-color: $table;
        color: #000;
        padding: 10px 10px 10px 20px;
        text-transform: uppercase;
        text-align: left;
        font-weight: normal;
        border-right: 1px solid #fff;

        &:last-child{
          border-right: none;
        }
      }

      td{
        padding: 10px 10px 10px 20px;
        background-color: $td;
      }
    }
  }

  form{

    label{
      text-transform: uppercase;
      color: $h_color;
    }

    .name{
      .half{
        width: 49%;
        float: left;

        &:last-child{
          float: right;
        }

        input{
          @include input(100%, 3px);
          @include border($h_color);
        }
      }
    }

    input{
      @include input(100%, 4px);
      @include border($h_color);
      margin: 5px 0 15px 0;

      &[type="submit"]{
        width: 240px;
        height: 45px;
        background-color: $content_color;
        border: 2px solid $h_color;
        color: $h_color;
        text-transform: uppercase;
        font-size: 1.3em;
      }
    }

    textarea{
      @include input(100%, 5px);
      @include border($h_color);
      height: 150px;
      margin: 5px 0 15px 0;
    }

  }
}
